body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #ff9a9e, #fad0c4);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
h1 {
  text-align: center;
}
/* Order container */
#ordersContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.order {
  font-family: "Outfit", sans-serif;
  border: 1px solid #ccc;
  margin: 10px;
  padding: 15px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 20px;
  width: 250px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  justify-content: center;
}

.order h3 {
  color: #333;
  text-align: center;
  justify-content: center;
}

.status {
  font-weight: bold;
  padding: 5px;
  border-radius: 3px;
}

button {
  padding: 8px 15px;
  margin-top: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
button.cancel {
  background-color: #eb0e0e;
  padding: 8px 15px;
  margin-top: 10px;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
button:hover {
  background-color: #45a049;
}
