@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
body {
  font-family: "Outfit", sans-serif;
  background: linear-gradient(135deg, #fceabb 0%, #f8b500 100%);
  text-align: center;
  margin: 0;
  padding: 20px;
  font-size: 20px;
}

/* Container */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 900px;
  height: 1000px;
  margin: auto;
  padding: 20px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/* Image Styling */
.image-container {
  position: relative;
  flex: 1;
  text-align: center;
}

.image-container img {
  width: 100%;
  max-width: 300px;
  border-radius: 15px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

/* Price Banner */
.price-banner {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #ff5733;
  color: #fff;
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

/* Form Styling */
.form-container {
  flex: 1;
  text-align: left;
  max-width: 400px;
}

h2,
h3 {
  color: #333;
}

select,
label {
  display: block;
  margin: 10px 0;
  font-size: 16px;
}

/* Checkbox Styling */
input[type="checkbox"] {
  margin-right: 8px;
  transform: scale(1.2);
  cursor: pointer;
}

/* Total Price Styling */
#totalPriceDisplay {
  font-size: 24px;
  font-weight: bold;
  color: #ff5733;
}
